<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


 <!-- CSS DO PROJETO  -->
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">

 <!-- Favicon da aplicação -->
 <link rel="shortcut icon" href="{{ url_for('static', filename='img/letra.jpg')}}" type="image/x-icon">


</head>
<body>
    <div class="boxlogin">
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <section class="boxinfo">
            <h1>Crie sua conta</h1>
           <h3>Melhore seu Negocio já</h3>
           <h5>Muitas Ferramentas Para você Empreendedor!</h5>
           <p>Façã seu controle financeiro </p>
           <p>com dashbords e muito mais.</p>
           <a href="/login">Voltar para login</a>
        </section>

        <section class="boxregister">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" id="phone" name="phone" minlength="10" maxlength="11"required>
            </div>
            <div class="form-group">
                <label for="pin">PIN:</label>
                <input type="password" class="form-control" id="pin" name="pin" minlength="5" maxlength="5" required>
            </div>
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" class="form-control-file" id="photo" name="photo" accept="image/jpeg" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </section>

    </div>

     <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>
</html>
